html {
  height: 100%;
  margin: 0;
  background-color: #e4ebf5;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #e4ebf5;
  height: 100%;
  margin-top: 4rem;
}

.root {
  height: 100%;
}
